{% extends 'partials/base.html.twig' %}

{% block body %}
<div class="main" role="main">
    {% for module in page.collection() %}
        {{ module.content|raw }}
    {% endfor %}
</div>
{% endblock %}
